<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/X</title>

    <!-- font -->
    <link rel="stylesheet" href="/public/css/font.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/twitter_logo.png" type="image/x-icon">
    <!-- webfont -->
    <link rel="stylesheet" href="/public/css/remixicon.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xxl-2 nav-section">
                    <div class="py-2">
                        <div class="x-logo">
                            <img src="/public/img/twitter_logo.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/home"><i class="ri-home-5-fill"></i>
                                    <h3>Home</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-search-line"></i>
                                    <h3>Explore</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-notification-2-line"></i>
                                    <h3>Notification</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-mail-line"></i>
                                    <h3>Message</h3>
                                </a></li>
                            <li><a href="/home"><i class="far fa-minus-square"></i>
                                    <h3>Grok</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-file-list-line"></i>
                                    <h3>Lists</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-bookmark-line"></i>
                                    <h3>Bookmark</h3>
                                </a></li>
                            <li><a href="/home"><i class="fas fa-user-friends"></i>
                                    <h3>Comunities</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-xing-fill"></i>
                                    <h3>Premiun</h3>
                                </a></li>
                            <li><a href="/home"><i class="far fa-user"></i>
                                    <h3>Profile</h3>
                                </a></li>
                            <li><a href="/home"><i class="ri-more-line"></i>
                                    <h3>More</h3>
                                </a></li>
                        </ul>
                        <button><a href="/home">Post</a></button>

                        <div class="togollor" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="usres-box d-flex justify-content-between align-items-center">
                                <div class="user-profile d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="/public/img/raj.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="user-detalis">
                                        <h4>Raj Koladiya</h4>
                                        <span>@RajKoladiya3</span>
                                    </div>
                                </div>
                                <div class="more-icon">
                                    <i class="ri-more-line"></i>
                                </div>
                            </div>
                        </div>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action two</a></li>
                            <li><a class="dropdown-item" href="#">Action three</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xxl-10 right-side">
                    <div class="w-100 content-head d-flex top-0">
                        <div class="col-xxl-9 text-center d-flex">
                            <div class="col-xxl-6">For you</div>
                            <div class="col-xxl-6">Following</div>
                        </div>
                        <div class="col-xxl-3">
                            <input type="serch">
                        </div>
                    </div>
                    <div class="col-xxl-12 d-flex">
                        <div class="col-xxl-9 content-section">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quia, labore
                                laboriosam architecto reprehenderit dolore magni vitae temporibus error, excepturi
                                recusandae suscipit, blanditiis tenetur odio accusantium nisi possimus sit ad deleniti
                                omnis dolorem tempora quisquam corrupti minus? Reiciendis tempora placeat nobis neque
                                sed sunt dolores cum harum aperiam sequi impedit, labore explicabo mollitia! At animi
                                dicta quos ipsam fuga omnis nostrum eos nobis voluptates doloribus distinctio ratione
                                unde, veritatis dignissimos dolorum odit eveniet quisquam sapiente ullam! Asperiores
                                laboriosam sit labore dolores est, culpa similique nostrum provident voluptates, tempora
                                esse, eaque vitae tenetur? Ipsum molestiae asperiores officiis quasi quos exercitationem
                                soluta voluptas possimus aperiam in aut porro corrupti, cupiditate ab, maiores
                                repudiandae atque odio officia! Necessitatibus repellat sed aut nesciunt commodi.

                            </p>
                        </div>
                        <div class="col-xxl-3 description-section">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, rerum quo ullam at
                                error
                                provident quibusdam dicta illum voluptate temporibus, reprehenderit odio, praesentium
                                rem!
                                Vero,
                                necessitatibus! Soluta voluptatum sint asperiores sit porro veritatis adipisci aliquid
                                nesciunt,
                                architecto cupiditate, neque eos deserunt repudiandae in inventore earum aperiam fugiat.
                                Ut
                                aut
                                ex blanditiis nulla laudantium tempore est suscipit itaque accusantium veritatis eveniet
                                quia,
                                nesciunt neque in dolore exercitationem at necessitatibus vero saepe, culpa tempora
                                praesentium
                                unde. Tempora nisi labore blanditiis repellat reprehenderit perspiciatis assumenda quod
                                ad!
                                Quos, soluta! A necessitatibus, delectus autem corrupti aliquid sit nulla? Saepe,
                                debitis
                                autem?
                                Veniam obcaecati nesciunt fuga cumque, porro molestiae nostrum laborum ad eum provident
                                ab
                                ratione consequatur corporis nulla ullam, sequi nisi enim reprehenderit laboriosam
                                placeat!
                                Facilis doloremque impedit illum dolores autem adipisci unde aperiam dolorum
                                consequuntur
                                dignissimos aspernatur, reprehenderit veritatis beatae et nesciunt cum repudiandae
                                perferendis
                                atque saepe nulla. Sint iure numquam possimus sequi? Lorem ipsum dolor sit amet
                                consectetur
                                adipisicing elit. Maiores velit fugit placeat, totam perspiciatis beatae eveniet illum
                                in
                                tempore numquam consequatur earum. Quibusdam beatae possimus odio harum sequi nostrum
                                obcaecati ipsam. Soluta facilis numquam facere doloremque adipisci exercitationem
                                praesentium maxime, saepe, velit non, ipsa repellat tenetur dolores fugit. Animi fugiat
                                facilis velit tempore culpa doloremque ab, voluptates assumenda libero, quasi ut, natus
                                consequuntur! Neque ratione, asperiores similique maxime modi, tempore quisquam, nemo
                                nisi
                                natus provident corrupti consectetur dolorem molestias! Repellat ratione praesentium
                                adipisci porro minus ex, laborum nihil. Asperiores minus totam magni maxime libero
                                voluptatem est esse placeat. Ipsum dolore cupiditate quos, ducimus itaque quae tempore
                                magni
                                exercitationem perferendis vitae est nemo adipisci repellat, accusantium voluptatem
                                dolores
                                eius consequatur aliquid molestias aperiam libero provident sit! Maiores reiciendis ut
                                consequuntur sit! Dicta, perferendis? Neque ipsa repudiandae praesentium? Fugit laborum
                                rerum, nostrum atque, repellat ducimus, iure commodi quidem veniam delectus minima fuga!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="/public/js/bootstrap.bundle.min.js"></script>
</body>

</html>