<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/X</title>

    <!-- font -->
    <link rel="stylesheet" href="/public/css/font.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/twitter_logo.png" type="image/x-icon">
    <!-- webfont -->
    <link rel="stylesheet" href="/public/css/remixicon.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xxl-2">
                    <div class="py-2">
                        <div class="x-logo">
                            <img src="/public/img/twitter_logo.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/home" class="d-flex"><i class="ri-home-5-fill"></i> <h3>Home</h3> </a></li>
                            <li><a href="/home" class="d-flex"><i class="ri-search-line"></i> <h3>Explore</h3> </a></li>
                            <li><a href="/home" class="d-flex"><i class="ri-notification-2-line"></i> <h3>Notification</h3> </a></li>
                            <li><a href="/home" class="d-flex"><i class="ri-mail-line"></i> <h3>Message</h3> </a></li>
                            <li><a href="/home" class="d-flex"><i class="far fa-minus-square"></i> <h3>Grok</h3> </a></li>
                            <li><a href="/home" class="d-flex"><i class="ri-more-line"></i> <h3>More</h3> </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xxl-10 d-flex">
                    <div class="col-xxl-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum similique
                        praesentium nesciunt eaque blanditiis libero. Placeat nulla tenetur natus expedita nesciunt
                        accusamus eligendi minus enim, magni quo hic rerum tempore, aliquam maiores reprehenderit.
                        Deleniti doloribus odio vel aspernatur eveniet! Nulla explicabo odit consectetur omnis tenetur.
                        Minima praesentium id eius, dolorum voluptatem, repellendus nostrum nobis animi odit dolores
                        adipisci distinctio at expedita, est aperiam accusamus harum illum impedit quae similique
                        aliquid! Quibusdam vitae illo saepe? Molestias voluptates magni, recusandae amet illo cumque
                        maiores fuga reprehenderit explicabo itaque minima veniam excepturi voluptatem? Corrupti ratione
                        officia ab culpa magni odit, fugiat cupiditate numquam iure? Eius totam accusamus, quam
                        doloribus vitae soluta non consectetur placeat aspernatur vel ad nisi perferendis quo impedit
                        consequatur. Adipisci, dicta doloribus quos maiores quod obcaecati dolorum soluta aut, mollitia
                        aliquid sed, nisi aperiam numquam molestias laboriosam officia doloremque veniam nulla!
                        Voluptate qui eos deserunt et, odit architecto vitae quisquam magnam voluptas aspernatur
                        inventore dicta consequatur odio! Dolorem earum fugit nihil sint cupiditate rerum suscipit totam
                        odio autem facere rem quis repudiandae assumenda cum, ipsa eveniet blanditiis temporibus
                        perferendis maxime deserunt tempore? Velit ipsa, dolore atque, ad ut qui sint, corporis aliquid
                        error veritatis rem deleniti. Atque veritatis maiores necessitatibus nulla unde ex dicta
                        voluptatem incidunt possimus, optio ratione ut eius cum eos vel itaque ipsam excepturi placeat
                        fugiat! Dignissimos numquam placeat possimus corrupti expedita ex nulla earum ipsa assumenda
                        maiores modi repellat, nam commodi illo et esse voluptatibus iste maxime distinctio, facilis cum
                        necessitatibus odio! Mollitia autem quibusdam aperiam fugiat architecto, voluptatem
                        exercitationem? Excepturi, aspernatur in! Tenetur, animi repudiandae at labore itaque, error
                        harum quisquam est quis quo omnis quod, cupiditate ipsa ut odit magnam delectus odio vitae?
                        Laborum id ex temporibus eveniet libero ea. Cupiditate, vitae deleniti doloremque quis
                        reiciendis doloribus nam esse voluptates quod voluptatibus. Eos, excepturi?</div>
                    <div class="col-xxl-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, nam ea
                        cumque reiciendis labore nulla aspernatur explicabo nihil iste sed at! Eius, ipsum esse. Ipsam
                        officiis recusandae laudantium voluptatibus quibusdam. Quaerat fugit quod, voluptatem unde ipsa
                        dolorum quia quisquam laborum placeat repellendus! Cum ipsam repellendus laboriosam id ducimus.
                        Corrupti quasi nostrum vel fuga quaerat eligendi et quas harum esse est dicta quo, itaque
                        voluptatum debitis sed, consequuntur hic sint. Animi ab sequi nobis voluptas tenetur molestiae
                        beatae dignissimos, est soluta minima labore totam maxime nulla, neque velit dolorem repellendus
                        numquam quaerat deserunt distinctio sed a. Adipisci qui, similique architecto id ab laudantium
                        nemo laboriosam quos velit ut cumque iure error optio fugiat numquam eos totam dolores nostrum
                        officiis debitis ipsam aliquam natus facilis vero. Explicabo vitae adipisci placeat eveniet?
                        Tempore asperiores dolorem obcaecati accusantium commodi ex expedita, velit autem hic cum cumque
                        unde delectus sed provident minima facere. Porro, incidunt doloremque! Ullam dolorum consectetur
                        velit. Autem cupiditate quam quis minima at veritatis perspiciatis. Voluptatem atque beatae
                        consequuntur, officiis at velit quia eveniet sapiente maiores culpa? Blanditiis nobis neque ut?
                        Quam vero fugiat iusto maxime nisi eius neque, dolorem omnis quia fugit quae possimus labore
                        quis explicabo nobis. Non, tempore. Vero!</div>
                </div>
            </div>
        </div>
    </section>


    <script src="/public/js/bootstrap.bundle.min.js"></script>
</body>

</html>